{% extends 'base.html' %}
{% block body %}

	    <article class="blog-post px-3 py-5 p-md-5">
        <form name="blogPost" id="blogPost" action="/edit/{{id}}" method="post" >
            <div class="form-group">
                  <input type="text" name="title" class="form-control" id="name" placeholder="Title" data-rule="minlen:4" data-msg="Please enter at least 4 chars" value="{{post.title}}" required/>
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="slug" id="email" placeholder="Slug" data-rule="email" data-msg="Please enter a valid email" value="{{post.slug}}" required />
                  <div class="validate"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="frontimg" id="email" placeholder="Front Display Image" data-rule="email" data-msg="Please enter a valid email" value="{{post.frontimg}}" required />
                  <div class="validate"></div>
                </div>

                <div class="form-group">
                  <input type="number" class="form-control" name="timeread" id="phone" placeholder="Time Read" data-rule="minlen:4" data-msg="Please enter your contact number" value="{{post.timeread}}" required/>
                  <div class="validate"></div>
                </div>
                 <div class="form-group">
                  <textarea id="summernote" name="editordata" required>{{post.content}}</textarea>
              </div>
                <div class="text-center"><button class="btn btn-primary" type="submit" title="Send Message">Submit</button></div>
              </form>
	    </article>
    {% endblock %}