{#{% set frontimgname = 'images/upload/' + post.frontimg %}#}
{% extends "base.html" %}
{% block body %}

    	    <section class="cta-section theme-bg-light py-5">
            {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
           <center><div style="width: 50%" class="alert alert-{{ category }}" role="alert">
          <h5 class="alert-heading">{{ message}}</h5>
        </div></center>
          {% endfor %}
           {% endif %}
          {% endwith %}
		    <div class="container text-center">
			    <h2 class="heading">Stay tuned!</h2>
			    <div class="intro">Sign up here to get the latest news, updates and special offers delivered to your inbox.</div>
			    <form class="signup-form form-inline justify-content-center pt-3" action="/newsletter" method="post">
                    <div class="form-group">
                        <label class="sr-only" for="semail">Your email</label>
                        <input type="email" id="semail" name="email" class="form-control mr-md-1 semail" placeholder="Enter email" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
		    </div><!--//container-->
	    </section>

	    <section class="blog-list px-3 py-5 p-md-5">
		    <div class="container">

     <table style="width: 100%" class="table table-bordered" id="dataTable">
  <thead>
    <tr>
      <th style="display: none" scope="col"></th>
    </tr>
  </thead>
  <tbody>
   {% for post in post %}
                     {% set imgFront = 'images/upload/' + post.frontimg %}
    <tr>
      <td ><div class="item mb-5">
				    <div class="media">
					    <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{ url_for('static', filename=imgFront) }}" alt="image">
					    <div class="media-body">
						    <h3 class="title mb-1"><a href="/post/{{ post.slug }}">{{ post.title }}</a></h3>
						    <div class="meta mb-1"><span class="date">Published on {{ post.date }}</span><span class="time">{{ post.timeread }} min read</span><span class="comment"><a href="#">{{ post.author}}</a></span></div>
						    <div class="intro"><input type='hidden' id='data' value='{{ post.content[0:150]}}'></input>
<div id='display'><script> document.getElementById('display').innerHTML = document.getElementById('data').value  </script></div>...</div>
						    <a class="more-link" href="/post/{{ post.slug }}">Read more &rarr;</a>
					    </div><!--//media-body-->
				    </div><!--//media-->
			    </div><!--//item--></td>
    </tr>
   {% endfor %}
  </tbody>
</table>
		    </div>
	    </section>
{% endblock %}


