{% extends 'base.html' %}
{% block body %}

	    <article class="blog-post px-3 py-5 p-md-5">

		    <div class="container">
			    <header class="blog-post-header">
				    <h2 class="title mb-2">{{ post.title }}</h2>
				    <div class="meta mb-3"><span class="date">Published at {{ post.date }}</span><span class="time">{{ post.timeread }} min read</span><span class="comment"><a href="#">{{ post.author }}</a></span></div>
			    </header>
            <div class="blog-post-body">
                <input type='hidden' id='data' value='{{ post.content }}'></input>
<div id='display'><script> document.getElementById('display').innerHTML = document.getElementById('data').value  </script></div>
            </div>
                <div  class="sharethis-inline-share-buttons"></div>
			    <nav class="blog-nav nav nav-justified my-5">
				  <a class="nav-link-prev nav-item nav-link rounded-left" href="/">Back<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
				</nav>

		    </div><!--//container-->
	    </article>

    {% endblock %}